@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
.row{
  display: flex;
  align-items: center;
}
.cartModal::-webkit-scrollbar{
  display: none;
  }

@theme{
  --font-primary:'montserrat'
}
